html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: contain;
    font-size: 16px; 
    transform-origin: center;
    /* background: #119dff !important; */
    /* background-color: #ADD8E6;  */

}

.game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    
    align-items: center;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/byb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
    position: relative;
}

/* Ensure all direct children of game-container are above the background */
.game-container > * {
    /* position: relative; */
    z-index: 1;
}
