html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: contain;
    font-size: 16px; 
    transform-origin: center;
    background: #119dff !important;
    /* background-color: #ADD8E6;  */

}

.game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom, #3b82f6, #1e3a8a); */
    transform: scale(1); 
}
