
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  user-select: none; 
  touch-action: none; 
}


.game-container {
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 100dvh;
  background-color: #bde0fe;
  overflow: hidden;
}


.bubble-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bubble {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.1s ease-out;
  animation: fall linear forwards;
}

.bubble:hover {
  transform: scale(1.1);
}

@keyframes fall {
  from {
    top: -50px; 
  }
  to {
    top: 100vh; 
  }
}


.score-display, .lives-display {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.lives-display {
  color: red;
}

.game-over {
  font-size: 24px;
  font-weight: bold;
  color: red;
  text-align: center;
  margin-top: 20px;
}
