.stat-box {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 6px 12px;
  z-index: 9999;
}

.top-left {
  top: 15px;
  left: 15px;
  border: 2px solid #40e0d0;
  background: linear-gradient(to bottom, #40e0d0, #008b8b);
  box-shadow: 0 0 10px rgba(64, 224, 208, 0.7);
}

.top-right {
  top: 15px;
  right: 15px;
  border: 2px solid #ff4d4d;
  background: linear-gradient(to bottom, #ff4d4d, #8b0000);
  box-shadow: 0 0 10px rgba(255, 77, 77, 0.7);
}

.bottom-center {
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px !important;
  border: 2px solid #ffdd57;
  background: linear-gradient(to bottom, #ffdd57, #c49a02);
  box-shadow: 0 0 10px rgba(255, 221, 87, 0.7);
}


@media (max-width: 768px) {
  .stat-box {
    font-size: 14px;
    padding: 4px 8px;
    gap: 5px;

  }

  .bottom-center {
    bottom: 60px; 
    bottom: 100px !important;
  }
}
